/* Ads */
#masthead-ad,
ytd-mealbar-promo-renderer,
ytd-carousel-ad-renderer,
.ytd-display-ad-renderer,
ytd-ad-slot-renderer,
div.ytp-ad-overlay-image,

/* General */
html[hideShorts="true"] a[title="Shorts"],
html[hideShorts="true"] ytd-reel-shelf-renderer,
html[hideRelatedVideos="true"] #secondary>div.circle,
html[hideRelatedVideos="true"] #related,
html[hideRelatedVideos="true"] .html5-endscreen,

/* Left Bar Navigation */
a[href="/feed/trending"],
a[href="/feed/explore"],
html[hideShorts="true"] a[title="Shorts"],
html[hideShorts="true"] ytd-mini-guide-entry-renderer[aria-label="Shorts"],
ytd-guide-section-renderer.ytd-guide-renderer.style-scope:nth-of-type(4),
ytd-guide-section-renderer.ytd-guide-renderer.style-scope:nth-of-type(3),

/* Homepage */
html[hideEntireHomepage="true"] ytd-browse[page-subtype="home"],
html[hideEntireHomepage="true"] a:not(#logo)[href="/"],
html[hideAllButOneRow="true"] ytd-browse[page-subtype="home"] ytd-rich-grid-renderer>div#header,
html[hideAllButOneRow="true"] ytd-browse[page-subtype="home"] ytd-rich-grid-renderer>#contents>ytd-rich-grid-row:nth-child(n+2),
html[hideInfiniteScroll="true"] ytd-browse[page-subtype="home"] ytd-rich-grid-renderer>#contents>ytd-continuation-item-renderer,
html[hideSearchButton="true"] div.ytd-masthead>ytd-searchbox,
html[hideSearchButton="true"] div.ytd-masthead>#voice-search-button,

/* Video Player - UI*/
html[hidePlayNextButton="true"] a.ytp-next-button.ytp-button,
html[hidePlayPreviousButton="true"] a.ytp-prev-button.ytp-button,
html[hideChat="true"] #chat,
html[hideMiniPlayerButton="true"] .ytp-button.ytp-miniplayer-button,
html[disableAutoPlayNext="true"] div.ytp-autonav-toggle-button-container,
html[disableAutoPlayNext="true"] div.ytp-autonav-toggle-button,
div.ytp-pause-overlay,
.ytp-cards-teaser,
button.ytp-button.ytp-cards-button,
.iv-branding.annotation-type-custom.annotation,
#movie_player button.ytp-button.ytp-share-button,
#movie_player button.ytp-button.ytp-watch-later-button,
.ytd-metadata-row-container-renderer.style-scope,

/* Video Player - Comments */
/* #comments,
#comment-teaser,
ytd-engagement-panel-section-list-renderer[target-id="engagement-panel-comments-section"],
ytd-comment-thread-renderer:not([timestamp_comment]),
#author-text,
#author-thumbnail,
#replies.ytd-comment-thread-renderer,
#vote-count-middle.ytd-comment-action-buttons-renderer, */

/* Search Results Page */
div.sbdd_a,
#container.ytd-search ytd-search-pyv-renderer,
#container.ytd-search ytd-reel-shelf-renderer,
#container.ytd-search ytd-shelf-renderer,
#mouseover-overlay,
.ytd-search #contents>ytd-continuation-item-renderer,

[foo=bar] {
  display: none !important;
}

/* Unfold video popup menus */
ytd-menu-popup-renderer {
  max-height: 1000px !important;
}

/* Fix iPad fullscreen video position */
div.html5-video-container>video {
  bottom: 0px !important;
  right: 0px !important;
}

/**********
 * Mobile *
**********/

/* Ads */
ytm-companion-ad-renderer,
ytm-promoted-sparkles-web-renderer,

/* Homepage */
html[hideEntireHomepage="true"] div[tab-identifier="FEwhat_to_watch"],
html[hideSearchButton="true"] #header-bar > header > div > button,
html[hideSearchButton="true"] #center.style-scope.ytd-masthead,
html[hideUploadButton="true"] #buttons > ytd-topbar-menu-button-renderer.style-scope.ytd-masthead.style-default,

/* Video Player */
html[hideRelatedVideos="true"] ytm-item-section-renderer[section-identifier="related-items"]>lazy-list,
html[disableAutoPlayNext="true"] button.ytm-autonav-toggle-button-container,
html[hidePlayNextButton="true"] div.player-controls-middle.center>button:nth-child(5),
html[hidePlayPreviousButton="true"] div.player-controls-middle.center>button:nth-child(1),

/* Navigation Bar */
html[hideEntireHomepage="true"] ytm-pivot-bar-item-renderer:nth-child(1),
html[hideShorts="true"] ytm-pivot-bar-item-renderer:nth-child(2),
ytm-chip-cloud-chip-renderer[chip-style="STYLE_EXPLORE_LAUNCHER_CHIP"],

[foo=bar] {
  display: none !important;
}